@font-face {
    font-family: "TT-Lakes";
    src:
        local("TT-Lakes normal"),
        url("TTLakes/TTLakes-Regular.woff") format("woff"),
        url("TTLakes/TTLakesCondensed-Regular.eot") format("eot"),
        url("TTLakes/TTLakesCondensed-Regular.ttf") format("ttf");
    font-weight: normal;
}

@font-face {
    font-family: "TT-Lakes";
    src:
        local('TT-Lakes bold'),
        url("TTLakes/TTLakes-Bold.woff") format("woff"),
        url("TTLakes/TTLakes-Bold.eot") format("eot"),
        url("TTLakes/TTLakes-Bold.ttf") format("ttf");
    font-weight: bold;
}

@font-face {
    font-family: "TT-Lakes";
    src:
        local('TT-Lakes lighter'),
        url("TTLakes/TTLakesCondensed-Light.woff") format("woff"),
        url("TTLakes/TTLakesCondensed-Light.eot") format("eot"),
        url("TTLakes/TTLakesCondensed-Light.ttf") format("ttf");
    font-weight: lighter;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    font-family: "TT-Lakes";
    background-color: #F8F8F8;
}

ul {
    padding: 0;
    list-style-type: none;
}

@media (min-width: 768px) {
    .swiper {
        /* overflow: auto; */
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .swiper-pagination {
        display: none;
    }
}

@media (min-width: 1366px) {
    .site-background {
        max-width: 1366px;
        margin-left: auto;
        margin-right: auto;
        /* background-color: white; */
        padding-top: 42px;
    }
}