html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'TT-Lakes';
  background-color: #f8f8f8;
  position: relative;
}

ul {
  padding: 0;
  list-style-type: none;
}

@media (min-width: 768px) {
  .swiper {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .swiper-pagination {
    display: none;
  }
}

@media (min-width: 1366px) {
  .site-background {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 42px;
  }
}
