.modal-feedback {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 676px;
  background-color: white;
  transition: 0.5s;
  transform-origin: 0 0;
  transform: scale(0);
  z-index: -1;
}

.modal-feedback__show {
  position: absolute;
  left: 0%;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 676px;
  background-color: white;
  display: flex;
  z-index: 20;
  transition: 0.5s;
  transform-origin: 0 0;
  transform: scale(1);
}

.modal-feedback__text {
  display: inline-flex;
  height: 48px;
  width: 288px;
  padding-left: 16px;
  border-left: 4px #41f6d7;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  align-items: center;
  margin-bottom: 16px;
}
.modal__button {
  margin: 16px;
  background-image: url('../img/crest.svg');
}

.modal-feedback__input {
  width: 288px;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  border-radius: 5px;
  margin: 8px 16px 8px 16px;
  border: 1px #eaeaea;
  background-color: white;
}

.modal-feedback__message {
  width: 288px;
  height: 118px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin: 8px 16px 8px 16px;
  border: 1px #eaeaea;
  background-color: white;
}
.modal__info {
  margin: 8px 16px 8px 16px;
}
.prices__order {
  margin: 8px 16px 8px 16px;
}

.modal__red-text {
  color: red;
}

.modal-feedback__send-button {
  margin-left: 70%;
  width: 130px;
}

@media (min-width: 1366px) {
  .modal-feedback {
    width: 440px;
    height: 100%;
    left: 100%;
  }
  .modal-feedback__show {
    width: 440px;
    height: 100%;
    left: 68%;
  }
}
